[submodule "wireguard-baremetal/third_party/libsodium"]
	path = wireguard-baremetal/third_party/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "wireguard-baremetal/third_party/BLAKE2"]
	path = wireguard-baremetal/third_party/BLAKE2
	url = https://github.com/BLAKE2/BLAKE2.git
[submodule "wireguard-baremetal/third_party/libhydrogen"]
	path = wireguard-baremetal/third_party/libhydrogen
	url = https://github.com/jedisct1/libhydrogen
